/*Windows 95 Global Layout*/
html, body {
  height: 100%;              
  margin: 0;                 
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: #008080;
  font-family: "MS Sans Serif", Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

main {
  flex: 1;                   
  padding: 2em;
  text-align: center;
}

/*Header*/
header {
  background-color: #C0C0C0;
  border-bottom: 2px solid #808080;
  padding: 0.5em;
}

header h1 {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0;
}

/*Navigation*/
nav menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0.5em 0 0;
}

nav menu li {
  margin-right: 1em;
}

nav menu li a {
  text-decoration: none;
  color: black;
  padding: 0.2em 0.5em;
  border: 2px outset #fff;
  background-color: #C0C0C0;
}

nav menu li a:hover {
  background-color: #000080;
  color: white;
}

/*Form Inputs*/
input {
  border: 2px inset #fff;
  padding: 0.3em;
  margin-left: 0.3em;
  background-color: white;
  color: black;
  font-family: inherit;
}

/*Button Row*/
.button-row {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.button-row button:hover {
  background-color: #000080;
  color: white;
}

/*Buttons*/
button {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080;
  background-color: #C0C0C0;
  padding: 0.4em 1em;
  font-family: inherit;
  cursor: pointer;

  /* Drop shadow */
  box-shadow: 2px 2px 0px black;
}

button:active {
  border: 2px inset #fff;
}

button:hover{
  background-color: #000080;
  color: white;
}

/*Footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #808080;
  padding: 0.5em;
  background-color: #C0C0C0;
  font-size: 0.9em;
}